Controller/Controller/Service References/ControllerServiceReference/ATCServer21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ATCServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ATCServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAirplane">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Airplane" nillable="true" type="tns:Airplane" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirplane" nillable="true" type="tns:ArrayOfAirplane" />
  <xs:complexType name="Airplane">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuelLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Runway" nillable="true" type="tns:Runway" />
      <xs:element minOccurs="0" name="Status" type="tns:AStatus" />
      <xs:element minOccurs="0" name="TimeLanded" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Airplane" nillable="true" type="tns:Airplane" />
  <xs:complexType name="Runway">
    <xs:sequence>
      <xs:element minOccurs="0" name="RunwayID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Runway" nillable="true" type="tns:Runway" />
  <xs:simpleType name="AStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="On_the_ground" />
      <xs:enumeration value="On_land" />
      <xs:enumeration value="In_the_air" />
      <xs:enumeration value="In_air" />
      <xs:enumeration value="Req_landing" />
      <xs:enumeration value="Landing" />
      <xs:enumeration value="Req_takeoff" />
      <xs:enumeration value="Taking_Off" />
      <xs:enumeration value="Emergency" />
      <xs:enumeration value="Emergency_landing" />
      <xs:enumeration value="Wait_takeoff" />
      <xs:enumeration value="Wait_emergency" />
      <xs:enumeration value="Wait_landing" />
      <xs:enumeration value="Docked" />
      <xs:enumeration value="Abort_takeoff" />
      <xs:enumeration value="Abort_landing" />
      <xs:enumeration value="Abort_taxi" />
      <xs:enumeration value="Taxi_R1" />
      <xs:enumeration value="Taxi_R2" />
      <xs:enumeration value="Taxi_R3" />
      <xs:enumeration value="Null" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AStatus" nillable="true" type="tns:AStatus" />
  <xs:simpleType name="Command">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Land" />
      <xs:enumeration value="TakeOff" />
      <xs:enumeration value="Abort" />
      <xs:enumeration value="Taxi" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Command" nillable="true" type="tns:Command" />
</xs:schema>