Pilot/Pilot/Service References/AirplaneServiceRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ATCServer" elementFormDefault="qualified" targetNamespace="ATCServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ATCServer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATCServer" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ATCServer/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ATCServer/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAirportName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirportNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAirportNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirplaneList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirplaneListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="GetAirplaneListResult" nillable="true" type="q1:ArrayOfAirplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirplane">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirplaneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="GetAirplaneResult" nillable="true" type="q2:Airplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendTaxiCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RunwayID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendTaxiCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveTakeOffRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RunwayID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveTakeOffRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveLandRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RunwayID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveLandRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortInTheServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RunwayID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortInTheServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatePosition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatePositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUpdatePositionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUpdatePosition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUpdatePositionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeEvent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeEvent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusFromController">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="status" type="q3:AStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusFromControllerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="GetQueueResult" nillable="true" type="q4:QueueOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetPilotKnow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flight" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="status" type="q5:AStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetPilotKnowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusDictionaryController">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusDictionaryControllerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStatusDictionaryControllerResult" nillable="true" type="q6:ArrayOfKeyValueOfAStatusstringRSI0zbe6" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommandDictionary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommandDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCommandDictionaryResult" nillable="true" type="q7:ArrayOfKeyValueOfCommandstringRSI0zbe6" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRunway">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="runwayId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRunwayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="getRunwayResult" nillable="true" type="q8:Runway" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommandList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommandListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCommandListResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserInterface">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flight" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="progress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToListMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DockedMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegularUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewPilotRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortedCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateForLandingProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flight" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="status" type="q10:AStatus" />
        <xs:element minOccurs="0" name="RunwayId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateForTakingOffProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flight" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="status" type="q11:AStatus" />
        <xs:element minOccurs="0" name="runwId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateForTakingOffProcessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateForTaxi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flight" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="status" type="q12:AStatus" />
        <xs:element minOccurs="0" name="Runway" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="success" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateForTaxiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendErrorMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendErrorMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortFinished">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flight" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="status" type="q13:AStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortFinishedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromListView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flight" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fuel_level" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="status" type="q14:AStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LandRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LandRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeOffRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeOffRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlane">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fuel_level" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlaneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusFromPilot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="status" type="q15:AStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusFromPilotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmergencyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmergencyRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusDictionaryPilot">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusDictionaryPilotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStatusDictionaryPilotResult" nillable="true" type="q16:ArrayOfKeyValueOfAStatusstringRSI0zbe6" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flight" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="progress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportProgressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flight" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="status" type="q17:AStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortCompleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Destroy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flight" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunwayId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusChangedPilot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="status" type="q18:AStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlightNr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlightNrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFlightNrResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="canAbort">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="canAbortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="canAbortResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Aborted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ATCServer" minOccurs="0" name="status" type="q19:AStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AfterAnimation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>